# Habilita ajuste suave de linhas compridas
set softwrap

# Ativa o mouse/touch para posicionar o cursor com tap
set mouse

# Número de espaços por tab
set tabsize 4

# Tab insere espaços em vez de tabulação rígida
set tabstospaces

# Desabilita a inserção de última linha
#set nonewlines

# Desabilita modo de ajuda
set nohelp

# Mostra informações (col/line/cursor)
set constantshow

# Autoindentação inteligente baseada na linha anterior
set autoindent

# Múltiplos buffers por padrão
set multibuffer

# Mostra números de linha na lateral
set linenumbers

# Faz backups automáticos antes de salvar
set backup

# Vai para o início/fim inteligente da linha (ignora espaços em branco)
set smarthome

# Desloca a tela linha por linha em vez de página inteira
#set smooth

# Ignora maiúsculas/minúsculas em buscas por padrão
#set caseinsensitive

####
# Cores foreground, background
####

set titlecolor brightyellow,black
set statuscolor brightcyan,black
set keycolor cyan
set functioncolor brightgreen
set numbercolor brightmagenta,black
set selectedcolor blue

####
# Realces de sintaxe
####

include "/data/data/com.termux/files/usr/share/nano/*.nanorc"

# Atalhos de Teclado Personalizados
bind ^S savefile main
#bind ^F findfile main
#bind ^G gotoline main
#bind ^X cut main
#bind ^C copy main
#bind ^V paste main
#bind ^Z undo main
#bind ^Y redo main
#bind ^D duplicate main
